section, h1, h2, h3, footer {
  font-family: sans-serif !important;
  color: white !important;
  font-weight: 700;
}

.section4-box{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:5%;
    }
    
    .subscribe-box{
    background-color: lightgray;
    opacity: 60%;
    min-width: 300px;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight: 400;
    display:flex;
    justify-content: flex-end;
    }

    .subscribe-box-end{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
    }

    .btn-sub{
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:100%;
      padding:0 5px;
    }

    .left-btn-sub{
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

  .form-check-label{
    margin-left: 5px;
    margin-right: 10px;
  }

    /* .btn-primary {
        border: 0px;
        color: white;
        background-color: var(--gray);
      } */
    
      .section-community {
        background-image: linear-gradient(to bottom, rgba(253, 252, 252, 0),rgba(5, 5, 5, 0.7)),url(/img/section4-bg.jpg);
         height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


.hover-group:hover{
  cursor: pointer;
  color: #00f3ff !important;
  text-shadow: 0 0 15px #00f3ff;
}

    .counter i{
    color: gray;
    margin-bottom: 5px;
    }
    
    .counters .counter{
      font-size: 25px;
      margin: 10px 0;
    }
    
    @media(max-width: 700px) {
    .counters .counters-container{
      grid-template-columns: repeat(2 1fr);
    }
    
    .counters .counters-container > div:nth-of-type(1),.counters .counters-box > div:nth-of-type(1){
    border-bottom: 1px darkgray solid;
    padding-bottom: 20px;
    }
       
    .section4-counters{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 100px;
      padding-right: 100px;
      font-family: Arial, Helvetica, sans-serif;
      }

    }

.justify-content-around{
  display:flex;
  justify-content: space-around;
  margin-top:50px;
  width:90%;
}

.justify-content-around > .form-group > div{
  width:100px;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.justify-content-around > .form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* 
------------------------------------find a partner slide ------------------------------- */

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }

}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}


/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  .text-findapartner {
    background-color: aliceblue;
    opacity: 0.5;
    border-radius: 10px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
  }
  
  
  .background-image {
    /* Full height */
    /* height: 100%;  / */
    height: 100%;
    /* min-height: 500px; / */
  
    /* / Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .img-findapartner-bg {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(56, 85, 61, 0.413)), url("img/find-a-partner-background.jpeg");
  }
  
  

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.findapartner-align {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
}

.title-main-findapartner {
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: black;
}

.subtitle-main-findapartner {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: black;
}

.title-findapartner {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-top: 2rem;
  /* background-color: aliceblue; */
  border-radius: 10px;
  opacity: 0.55;
  /* color: black; */
  color: white !important;
}

.title-findapartner:hover {
  opacity: 0.5;
  border-radius: 10px;
  cursor: pointer;
  color: #00f3ff !important;
  text-shadow: 0 0 15px #00f3ff;
}

.text-findapartner {
  background-color: aliceblue;
  opacity: 0.5;
  border-radius: 10px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: black;
}

.background-image {
  /* Full height */
  /* height: 100%;  / */
  height: 100vh;
  /* min-height: 500px; / */

  /* / Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-findapartner-bg {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(24, 20, 20, 0.52), rgba(56, 85, 61, 0.413)),
    url("img/find-a-partner-background.jpeg");
}

.card-findapartner {
  background-color: transparent;
  border: none;
}
.jumbotron {
  margin-bottom: 0;
}


.background-image {
    /* The image used */
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("img/background-image.jpg");
  
    /* Full height */
    /* height: 100%;  */
    height: 100%;
    /* min-height: 500px; */
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
  --------------------------------------About us Styles Moved to a separated css file to avoid conflicts-------------------------------- */

/* .background-about {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(56, 85, 61, 0.413)),
    url("https://images.unsplash.com/photo-1576513389692-1fc7a2d23f9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2255&q=80");
}

.about-card {
  border-radius: 10px;
}
.about-card-title {
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}

.text-title > h3 {
  color: black;
}
.text-title > h4 {
  color: black;
}
.card-text {
  color: black;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  height: 250;
  width: 150px;
  margin-top: 1.5rem;
}
.base-color {
  border: none;
  display: column;
  align-content: center;
}

.background-about-card {
  border-radius: 10px;
  top: 0px;
  left: 0px;
  height: 260px;
  background-color: rgba(38, 127, 154, 0.427);
  z-index: 1;
}

.icons-about {
  font-size: 60px;
  text-align: center;
}

.about-container-section {
  display: flex;
  justify-content: center;
} */
/* 
@media (max-width: 800px) {
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: brown;
  }
   
/* --------------------------------------- End of About styling ---------------------------------------- */
  body{
    color: white;
}

nav a {
    color: white !important;
}

.jumbotron {
  margin-bottom: 0;
}

.background-image {
    /* The image used */
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(19, 117, 104, 0.73)), url("img/background-image.jpg");
  
    /* Full height */
    /* height: 100%;  */
    height: 100vh;
    /* min-height: 500px; */
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#first .container { 
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#second { 
    /* margin-top: -30px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.middle{
    /* border: 1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-card{
  border: none;
  min-width: 220px;
  margin:15px;
  max-height: 800px;
}

.text-title {
  margin-top: 20px;
}

.about-card-title {
  color:red;
  margin:0;
  font-weight: 400;
  padding:0;
}

.profile-img {
  border-radius: 50%;
  width:80%;
  height:70%;
  margin-top:50px;
  
}
.base-color{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.background-about-card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0px;
  left: 0px;
  height: 35%;
  background-color: rgba(38, 127, 154, 0.427);
}

.bg-dark {
    background-color: transparent !important;
    transition: 250ms ease;
}
.bg-dark.scrolled {
    background-color: rgba(36, 8, 8, 0.2) !important;
    transition: 750ms ease;
}


.form-row{
  margin: 20px auto;
}
.nav-link{
  font-weight: 700;
  margin-right: 20px;
}

.nav-link:hover{
  color: #00f3ff !important;
  text-shadow: 0 0 15px #00f3ff;
}
.navbar-brand{
  font-weight: 700;
}
.navbar-brand:hover{
  color: #00f3ff !important;
  text-shadow: 0 0 15px #00f3ff;
}


/* Quoc Hoang section .................... */
.section4-top{
  padding-top: 5%;
}
.section4 i{
  font-size: 40px;
}

.section4 p{
  margin-top: 10px;
}

.titleq{
  text-align: center;
  margin-right: 30px;
}

.titleq2{
  margin-top: 30px;
  font-size: 20px;
}
.titleq2:hover{
  color: #00f3ff !important;
  text-shadow: 0 0 15px #00f3ff;
}

.section4{
  background-color: #004c3f;
  color: white;
}

.main2 i:hover{
  cursor: pointer;
  color: black;
}
.titleq2:hover{
  cursor: pointer;
  color: black;
}

.main1{
  padding-bottom: 5%;
  padding-top: 4%;
}

footer{
  background-color: black;
  color: black;
  padding-bottom: 100px;
  

  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer-area{
  display: flex;
  justify-content: center;
}
footer i{
  font-size: 25px;
  margin: 10px;
}

.footer-icon{
  display: flex;
}

footer i:hover{
  cursor: pointer;
  color: #00f3ff !important;
  text-shadow: 0 0 15px #00f3ff;
}
ul  li {
  list-style: none;
}



.textq{
  font-size: 40px;
}

footer a{
  text-decoration: none;
  /* color: black; */
  color: white;
}
footer a:hover{
  text-decoration: none;
  color: #00f3ff !important;
  text-shadow: 0 0 15px #00f3ff;
}

footer img {
  cursor: pointer;
}

.section4 i:hover {
  color: #00f3ff !important;
  text-shadow: 0 0 15px #00f3ff;
}

.textq2{
  color: white;
}

footer p{
  margin-top: 10px;
}
